/**
 * GitStats - default style
 */
body {
	color: #1f2c39;
	background-color: #eeeeee;
}

dt {
	font-weight: bold;
	float: left;
	margin-right: 1em;
}

dt:after {
	content: ': ';
}

dd {
	display: block;
	clear: left;
	line-height: 40px;
}

table {
	border: 1px solid #1f2c39;
	border-collapse: collapse;
	font-size: 80%;
	margin-bottom: 1em;
}

table.noborders {
	border: none;
}

table.noborders td {
	border: none;
}

.vtable {
	float: right;
	clear: both;
}

table.tags td {
	vertical-align: top;
}

td {
	background-color: #eeeeee;
}

th {
	background-color: #ddddff;
}

th a {
	text-decoration: none;
}

tr:hover {
	background-color: #ddddff;
}

td {
	border: 1px solid #1f2c39;
	padding: 0.2em;
	padding-left: 0.3em;
	padding-right: 0.2em;
}

/* Navigation bar; tabbed style */
.nav {
	border-bottom: 1px solid #1f2c39;
	padding: 0.3em;
}

.nav ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
}

.nav li a {
	padding: 0.3em;
	text-decoration: none;
	color: #1f2c39;
	border: 1px solid #1f2c39;
	margin: 0.5em;
	background-color: #ddddff;
}

.nav li a:hover {
	background-color: #dddddd;
	border-bottom: 1px solid #ddddff;
}

img {
	border: 1px solid #1f2c39;
	padding: 0.5em;
	background-color: #eeeeee;
}

th img {
	border: 0px;
	padding: 0px;
	background-color: #ddddff;
}

h1 a, h2 a {
	color: #1f2c39;
	text-decoration: none;
}

h1:hover a:after,
h2:hover a:after {
	content: '¶';
	color: #555555;
}

h1 {
	font-size: x-large;
}

h2 {
	background-color: #7988b3;
	border: 1px solid #1f2c39;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #eeeeee;
	font-size: large;
	clear: both;
	line-height: 40px;;
}

h2 a {
	color: #eeeeee;
}

.moreauthors {
	font-size: 80%;
}
